.DS_Store
build/

conan_bye_bye_debug_x86_64.xcconfig
conan_bye_bye_release_x86_64.xcconfig
conan_bye_bye.xcconfig
conan_bye.xcconfig
conan_config.xcconfig
conan_hello_hello_debug_x86_64.xcconfig
conan_hello_hello_release_x86_64.xcconfig
conan_hello_hello.xcconfig
conan_hello.xcconfig
conanbuild.sh
conanbuildenv-debug-x86_64.sh
conanbuildenv-release-x86_64.sh
conandeps.xcconfig
conanrun.sh
conanrunenv-debug-x86_64.sh
conanrunenv-release-x86_64.sh
conantoolchain_debug_x86_64.xcconfig
conantoolchain_release_x86_64.xcconfig
conantoolchain.xcconfig
deactivate_conanbuild.sh
deactivate_conanrun.sh
app.xcodeproj/project.pbxproj
app.xcodeproj/project.xcworkspace/contents.xcworkspacedata
